# To fix https://bitbucket.org/vinay.sajip/python-gnupg/issue/4/error-encrypting-and-decrypting-with
-e hg+https://bitbucket.org/vinay.sajip/python-gnupg@e8fadcf#egg=python-gnupg

# Python3 enabled versions
-e git+https://github.com/julienaubert/django-uuidfield.git@python3#egg=django-uuidfield
