# To fix https://bitbucket.org/vinay.sajip/python-gnupg/issue/4/error-encrypting-and-decrypting-with
-e hg+https://bitbucket.org/vinay.sajip/python-gnupg@e8fadcf#egg=python-gnupg

# Python3 enabled versions
-e git+https://github.com/julienaubert/django-uuidfield.git@python3#egg=django-uuidfield
-e git+https://github.com/EnTeQuAk/babel.git@support/py3k#egg=babel

# Custom patch to customize algorithm
-e git+https://github.com/EnTeQuAk/django-rest-framework-httpsignature@feature/allow-algorithm-overwrite#egg=django-rest-framework-httpsignature
