{% load static from staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mail Me!{% endblock title %}</title>

    {% block styles %}
    <link rel="stylesheet" href="{% static "css/social.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    {% endblock styles %}
</head>
<body>
{% block content %}
{% endblock content %}

{% block content-js %}
<script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "foundation/js/foundation.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/app.js" %}"></script>
{% endblock content-js %}
</body>
</html>
