{% extends "keybar/web/base.html" %}
{% load i18n %}
{% load static %}
{% load foundation %}
{% load floppyforms %}


{% block sub-title %}
    {% if object %}
        {% trans 'Edit entry' %}
    {% else %}
        {% trans 'Add new entry' %}
    {% endif %}
{% endblock %}

{% block main-content %}
    <section class="row">
        <div class="small-12 medium-12 large-12 columns">
            {% if object %}
                {% form form using "floppyforms/layouts/entry-detail.html" with submit_title=_('Update Entry') %}
            {% else %}
                {% form form using "floppyforms/layouts/default.html" with submit_title=_('Add Entry') %}
            {% endif %}
        </div>
    </section>
{% endblock %}
