{% extends "keybar/web/base.html" %}
{% load i18n static %}

{% block home_content %}
    <div class="row">
        <div class="large-10 columns tagline">
            <h3>
                <strong>
                    Secure password management
                </strong>
                to simplify your life.
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="large-10 columns pricing">
            <p><sup>$</sup>3 per month or <sup>$</sup>30 per year</p>
            <a href="#" class="button success">{% trans 'Register now' %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ block.super }}
    <section>
        <div class="row">
            <div class="large-10 columns">
                <img src="https://placehold.io/1400/400.png?text=Previw Image&retina=true">
            </div>
        </div>
    </section>
{% endblock content %}
