{% extends "keybar/web/base.html" %}
{% load i18n static %}

{% block main-content %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns tagline">
            <h3>
                <strong>
                    Secure password management
                </strong>
                <br />
                to simplify your life.
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns pricing">
            {# <p><sup>$</sup>8 per month</p> #}
            <a href="{% url 'account_signup' %}" class="button success">{% trans 'Sign up now' %}</a>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <img src="{% static 'img/400.png' %}">
        </div>
    </div>
{% endblock %}
