{% extends "keybar/web/base.html" %}
{% load i18n %}
{% load static %}


{% block main-content %}
    {% url 'keybar-entry-new' as new_entry_url %}

    <div class="row entries">
        <div class="small-12 medium-12 large-12 columns">
            {% if object_list.exists %}
                <table>
                    <caption>{% trans 'Your Vault' %}</caption>
                    <tr>
                        <th id="title">{% trans 'Title' %}</th>
                        <th id="identifier">{% trans 'Identifier' %}</th>
                        <th id="tags">{% trans 'Tags' %}</th>
                        <th id="actions">{% trans 'Actions' %}</th>
                    </tr>
                    {% for entry in object_list %}
                    <tr>
                        <th id="{{ entry.pk }}" headers="title">
                            <a href="{% url 'keybar-entry' entry.pk %}">
                                {{ entry }}
                            </a>
                        </th>
                        <td headers="{{ entry.pk }} identifier">
                            <a href="{% url 'keybar-entry' entry.pk %}">
                                {{ entry.identifier }}
                            </a>
                        </td>
                        <td headers="{{ entry.pk }} tags">
                            {% for tag in entry.tags %}
                                <span class="label">{{ tag }}</span>
                            {% endfor %}
                        </td>
                        <td headers="{{ entry.pk }} actions">
                            <a href="{% url 'keybar-entry-edit' entry.pk %}">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

                <a href="{{ new_entry_url }}" class="button">Add new entry</a>

            {% else %}
                <p>
                    {% blocktrans %}
                        There are no entries in your vault! <a href="{{ new_entry_url }}">Create one</a>
                    {% endblocktrans %}
                </p>
            {% endif %}

            <img src="{% url 'keybar-totp-qrcode' %}" />
        </div>
    </div>
{% endblock %}
