// TODO: Disable after prototyping phase.

@import "foundation/components/global";

$include-html-classes: true;
$include-print-styles: false;

$total-columns: 12;

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Open Sans', serif;
$font-family-monospace: Consolas, monospace;

$font-weight-normal: 400;

$body-bg: $white;
$body-font-color: $black;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

$base-font-size: 12px !default;
$base-line-height: 1 !default;

$topbar-bg-color: #ffffff;
$topbar-margin-bottom: 20px;
$topbar-link-color: #000;

$topbar-menu-icon-color: #000;
$topbar-menu-icon-color-toggled: $topbar-menu-icon-color;

$topbar-dropdown-bg: #eee;

$topbar-link-bg-hover: #ccc;
$topbar-link-color-hover: #000;

$topbar-menu-link-transform: uppercase;
$topbar-menu-link-font-size: rem-calc(13);
$topbar-menu-link-weight: $font-weight-bold;
$topbar-menu-link-color: $black;
$topbar-menu-icon-color: $black;
$topbar-menu-link-color-toggled: $black;
$topbar-menu-icon-color-toggled: $black;

$inline-list-overflow: none !default;
$inline-list-display: inline !default;
$inline-list-children-display: inline !default;
