@import "settings";

@import "foundation/components/alert-boxes";
@import "foundation/components/grid";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/forms";
@import "foundation/components/type";
@import "foundation/components/top-bar";
@import "foundation/components/visibility";


.contain-to-grid {
	background-color: #fff;
}


section[role="header"] {
	nav[role="navigation"] {
		&.top-bar {
			background: #ffffff;
			color: #000000;
			padding: 45px 0.9375rem 90px 0.9375rem;
			transition: all 0.5s ease 0.1s;

			h1 {
				a {
					color: #000000;
				}

				span {
					font-size: 2rem;
					vertical-align: middle;
					padding: 0 0 0 .5rem;
				}
			}

			section.top-bar-section {
				ul {
					background: #ffffff;

					li {
						background: #ffffff;

						margin-left: 30px;
						a {
							color: #000;
							background: #fff;
							font-size: 1.2rem;

							&:hover {
								border-bottom: 2px solid $primary-color;
								color: #222;
							}
						}

						&.active {
							a {
								color: #000;
								background: #fff;
								font-size: 1.2rem;
								border-bottom: 2px solid #000;

								&:hover {
									border-bottom: 2px solid $primary-color;
									color: #222;
								}
							}
						}
					}
				}

			}

		}

	}
}

section[role="main-content"] {
	.row {
		.tagline, .pricing {
			text-align: center;
			margin: 2rem 0;

			strong {
				color: #000;
			}

			h3 {
				color: #999;
			}
		}
	}
}

footer {
	margin-top: 20px;

	.row {
		padding: 1rem;
		background-color: #eee;
	}

	&.horizontal-ruler {
		border-bottom: 1px solid #000;
	}
}
