@import "settings";

.contain-to-grid {
	background-color: #fff;
}


section[role="header"] {
	nav[role="navigation"] {
		&.top-bar {
			h1 {
				font-size: 1.6rem;
				vertical-align: middle;
			}

			section.top-bar-section {
				ul {
					li {
						&>a {
							text-align: right;
							padding: 12px 20px 12px 20px;
						}
					}
				}
			}
		}

		@media #{$topbar-media-query} {
			&.top-bar {

				background: #ffffff;
				color: #000000;

				h1 {
					a {
						color: $topbar-link-color;
					}

					font-size: 2rem;
					vertical-align: middle;
					padding: 0 0 0 .5rem;
				}

				section.top-bar-section {
					ul {
						background: #ffffff;

						li {
							background: #ffffff;
							margin-left: 30px;

							a {
								color: #000;
								background: #fff;
								font-size: 1.2rem;

								&:hover {
									border-bottom: 2px solid $primary-color;
									color: #222;
								}
							}

							&.active {
								a {
									color: #000;
									background: #fff;
									font-size: 1.2rem;
									border-bottom: 2px solid #000;

									&:hover {
										border-bottom: 2px solid $primary-color;
										color: #222;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

section[role="main-content"] {
	.row {
		.tagline, .pricing {
			text-align: center;
			margin: 2rem 0;

			strong {
				color: #000;
			}

			h3 {
				color: #999;
			}
		}
	}
}

footer {
	text-align: center;

	margin-top: 20px;

	.row {
		padding: 1rem;
		background-color: #eee;
	}

	&.horizontal-ruler {
		border-bottom: 1px solid #000;
	}
}
