@import "settings";

@import "foundation/components/alert-boxes";
@import "foundation/components/grid";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/forms";
@import "foundation/components/type";
@import "foundation/components/visibility";


section {
    &.home {
        padding: 2rem 0;
        background-color: #eee;

        .logo {
            img {
                padding-right: 2rem;
            }
        }
    }

    &.footer {
        background-color: #eee;
        padding: 2rem 0;
    }

}

.row {
    .tagline, .pricing {
        text-align: center;
        margin: 2rem 0;

        strong {
            color: #000;
        }

        h3 {
            color: #999;
        }
    }
}

footer {
    &.horizontal-ruler {
        border-bottom: 1px solid #000;
    }
}
