{% extends "keybar/web/base.html" %}
{% load i18n %}
{% load static %}
{% load foundation %}
{% load floppyforms %}
{% load account %}
{% load socialaccount %}


{% block sub-title %}{% trans 'Sign up' %}{% endblock sub-title %}

{% block main-content %}
    <p>
        {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
            You are about to use your {{ provider_name }} account to login.
            As a final step, please complete the following form:
        {% endblocktrans %}
    </p>

    <div class="small-12 medium-12 large-12 columns">
        {% url 'socialaccount_signup' as action_url %}
        {% form form using "floppyforms/layouts/default.html" with submit_title=_('Sign up') action_url=action_url %}
    </div>
{% endblock %}
