{% extends "keybar/web/base.html" %}

{% block sub-title %}Page Not Found :({% endblock %}

{% block main-content %}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h1>Not found <span>:(</span></h1>
            <p>Sorry, but the page you were trying to view does not exist.</p>
            <p>It looks like this was the result of either:</p>
            <ul>
                <li>a mistyped address</li>
                <li>an out-of-date link</li>
            </ul>
            <p>See the <a href="{% url 'keybar-index' %}">Homepage</a></p>
        </div>
    </div>
{% endblock %}
