<!--[if lt IE 7]>   <html class="no-js ie6 oldie msie"> <![endif]-->
<!--[if IE 7]>      <html class="no-js ie7 oldie msie"> <![endif]-->
<!--[if IE 8]>      <html class="no-js ie8 oldie msie"> <![endif]-->
<!--[if IE 9]>      <html class="no-js ie9 msie"> <![endif]-->
<!--[if gt IE 9]><!--> <html itemscope itemtype="http://schema.org/WebPage"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <meta name="robots" content="noindex, nofollow" />
    <meta name="siteinfo" content="/static/robots.txt" />
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width" />

    <title>Keybar – Server Error :'(</title>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa:400">
    <link rel='stylesheet' type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
        <section role="header" class="contain-to-grid">
            <nav class="top-bar" data-topbar role="navigation">
                <ul class="title-area">
                    <li class="name">
                        <h1>
                            <a href="/">
                                <img src="/static/img/logo-small.png">
                                keybar
                            </a>
                        </h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
                </ul>
            </nav>
        </section>

        <section role="main-content">
            <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                    <div class="row">
                        <div class="small-12 medium-12 large-12 columns">
                            <h1>Server Error <span>:'(</span></h1>
                            <p>Something has gone horribly wrong.</p>
                            <p>We've notified our admins and they won't rest until it is fixed.</p>
                            <p>See if the <a href="/">Homepage</a> still works?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="row contain-to-grid">
                <div class="small-12 medium-12 large-12 columns">
                    <p>© 2014 Christopher Grebs</p>
                </div>
            </div>
        </footer>
</body>
</html>
